@font-face {
    font-family: 'AvenirNext';
    src:  url('AvenirNextLTPro-Regular.woff') format('woff');
}

@media (max-width: 1000px) {
    .homepagePicture {
      display: none;
    }
}

.flex-grid {
    display: flex;
  }

.col1 {
    flex: 1;
}

.col2 {
    flex: 1;
}

.signup {
    margin-top: 250px;
	margin-left: 25%;
}

.homepagePicture {
	margin-top: 20px;
	width: 360px;
	min-width: 300px;
	flex-wrap: wrap;
	margin-left: 20%;
}
